html
	head
		link(rel='stylesheet', href='/vendor/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/styles/main.css')
		body
			h3=beer.name
			p=beer.style.description
			script(type='text/javascript', src='/vendor/jquery/1.12.4/jquery.min.js')
			script(type='text/javascript', src='/vendor/bootstrap/3.3.7/js/bootstrap.min.js')